<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head')  %> 
<body>
  <%- include("../partials/header") %> 
  <h2 class="oferta">-LISTAR CATEGORIAS</h2>
  <main class="container">
        <section class="row"> 
        
          <table class="table">
            <thead>
              <tr>
                <th scope="col">name</th>
                <th scope="col">id</th>
              
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Categorias.id</th>
                <td>Categorias.name</td>
               
              </tr>
              <tr>
             
            </tbody>
          </table>

            
        </section>
      </main>
      <%- include('../partials/footer') %> 
    

</body>
</html>