<!DOCTYPE html>
<title>Nuestros productos</title>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/stylesheets/detallesdelproducto.css" rel=StyleSheet >
    <title>document</title>
</head>
<body>
    <div>
    <section class="detalleproducto">
    <article class="foto">
        <h3><%=producto.title%></h3>
        <img src="/images/<%=producto.image%>">
    </article>
        <article class="detalles">
        <p><%=producto.description%></p>
        <h3><%=producto.price%></h3>
        <input type="button" value="delivery online" class="boton">
        <input type="button" value="registrarse" class="boton">
        </article>
    

</section>
<p class="ingredientes">
    pase el puntero del mause para ver los ingredientes
</p>
</div>
</body>
</html>