<%- include('../partials/head') %>
  <title>Inicio</title>
<body>
	<header>
        <nav class="container-fluid ">
           <!--logo-->
           <div class="row ">
              <div class="col-6 logos">
                 <img src="../logo/logo.png" alt="logotipo" class="img-fluid">
              </div>
              <!--pedi online-->
              <div class="col-6 logos">
                 <div class="col-12 ">
                    <div class="box-1">
                       <button type="button" class="btn btn-outline-dark mt-4">PEDI ONLINE</button>
                    </div>
                 </div>
                 <div class="col-12">
                    <ul class="p-0 usuario">
                       <li><a href="/admin/list">Lista de productos<br><i class="fas fa-sign-in-alt "></i></a></li>
                       <li><a href="https://checkpoint-restobar.blogspot.com/">Nuestro<br>Blog<i class="far fa-address-card "></i></a></li>
                      
                       <li><a href="/admin/create">agregar productos<br><i class="fas fa-sign-in-alt "></i></a></li>
                    </ul>
                 </div>
              </div>
             
           </div>
     
              <!--secciones-->
              <div class="row ">
                 <nav class="navbar navbar-expand-md navbar-dark navigator">
                    <div class="container-fluid">
     
                       <button class="navbar-toggler mx-auto" type="button" data-bs-toggle="collapse"
                          data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                          aria-expanded="false" aria-label="Toggle navigation">
                          <span class="navbar-toggler-icon burger"></span>
                       </button>
                       <div class="collapse navbar-collapse menu" id="navbarSupportedContent">
     
                          <li class="navi"> <a class="" href="/cartadelivery ">CARTA</a></li >
                          <li class="navi"> <a class="" href="/locales">LOCALES</a> </li >
                          <li class="navi"> <a class="" href="/reservas">RESERVAS</a> </li >
                          <li class="navi"> <a class="" href="/promociones">PROMOCIONES</a></li>
                          <li class="navi"> <a class="" href="/novedades">NOVEDADES</a> </li >
     
     
     
                          <form class="d-flex">
     
                          </form>
                       </div>
                    </div>
                 </nav>
              </div>
        </nav>
     </header>
		<!--menu-->
		 <menu class="container">
			<section class="row">
			 

			  <div class="col-12 col-md-6 col-lg-3 ">
				<article class="producto"><!-- 1 bebidas-->
					<div class="contenido">
						<figure><a href="/admin/userList.ejs"><img src="/images/clientes.jfif" alt=""></a></figure>

						<h2 class="title">Clientes</h2>
						<h2><span></span></h2>
						
					 </div>
				</article>
			</div>

			<div class="col-12 col-md-6 col-lg-3 ">
					<article class="producto"><!-- 2 postres-->
						<div class="contenido">
							<figure><a href="/admin/categorias.ejs"><img src="/images/categoria.jfif" alt=""></a></figure>
							<h2 class="title"> Categorias</h2>

							
							</div>
						</div>
					</article>
				</div>
				
				<div class="col-12 col-md-6 col-lg-3 ">
					<article class="producto"><!--3 HAMBURGUESAS-->
						<div class="contenido">
							<figure><a href="/admin/comidaList.ejs"><img src="/images/producto.jfif" alt=""></a></figure>
			
							<h2 class="title">Productos</h2>
                            
						</div>
					</article>
				</div>
			
				<div class="col-12 col-md-6 col-lg-3">
					<article class="producto"><!--5 PIZZA Y EMPANADAS-->
						<div class="contenido">
							<figure><a href="/admin/ventas.ejs"><img src="/images/ventas.jfif" alt=""></a></figure>

							<h2>Ventas</h2>
							<span></span>


							
						</div>
					</article>
				</div>


				
			</section>


			<%- include('../partials/footer') %> 
		
</body>

</html>