<%- include('../partials/head') %>
  <title>Inicio</title>
<body>
	<div style="background-color: black;">
		<a href="/"><img src="/logo/logo.png" alt="logotipo" style="width: 100px;"></a>
	
	  </div>
		<!--menu-->
		 <menu class="container">
			<section class="row">
			
			  <div class="col-12 col-md-6 col-lg-3 ">
				<article class="producto"><!-- 1 bebidas-->
					<div class="contenido2">
						<figure class="mas"><a href="/admin/userList"><img src="/images/clientes.jfif" alt=""></figure>

						<h2 class="title">Clientes</h2>
						<h2><span></span></h2></a>
						
					 </div>
				</article>
			</div>

			<div class="col-12 col-md-6 col-lg-3 ">
					<article class="producto"><!-- 2 postres-->
						<div class="contenido2">
							<figure><a href="/admin/categorias"><img src="/images/categoria.jfif" alt=""></figure>
							<h2 class="title"> Categorias</h2></a>

							
							</div>
						</div>
					</article>
				</div>
				
				<div class="col-12 col-md-6 col-lg-3 ">
					<article class="producto"><!--3 HAMBURGUESAS-->
						<div class="contenido2">
							<figure><a href="/admin/comidaList"><img src="/images/producto.jfif" alt=""></figure>
			
							<h2 class="title">Productos</h2></a>
                            
						</div>
					</article>
				</div>
			
				<div class="col-12 col-md-6 col-lg-3">
					<article class="producto"><!--5 PIZZA Y EMPANADAS-->
						<div class="contenido2">
							<figure><a href="/admin/ventas"><img src="/images/ventas.jfif" alt=""></figure>

							<h2>Ventas</h2></a>
							<span></span>


							
						</div>
					</article>
				</div>

			<button class="btn btn-outline-primary  text-white">	<a href="/">|VOLVER A VISTA USUARIO|</a></button>
				
			</section>


			
		
</body>

</html>