		<!--footer-->
		<footer class="container-fluid">
				<div class="row text-center p-3">
						<div class="col-12 col-md-4 p-2">
							<i class="fas fa-truck"></i>
							<h4>Enviamos tus compra</h4>
							<h5>todo CABA</h5>
						</div>
	
						<div class="col-12 col-md-4 p-2">
							<i class="fas fa-credit-card"></i>
							<h4>Paga como quieras</h4>
							<h5>Tarjeta de creditos o efectivo</h5>
						</div>
	
						<div class="col-12 col-md-4 p-2">
							<i class="fas fa-lock"></i>
							<h4>Compra con seguridad</h4>
							<h5>tus datos siempre estan protegidos</h5>
						</div>
				</div>
				<hr class="text-white">
			<div class="row">
				<div class="col-6 col-md-12">
					<ul class="text-center menu-footer">
						<li><a href="/views/index.ejs">EL SITIO</a></li>
						<li><a href="/views/cartaDelivery.html">CARTA DELIVERY</a></li>
						<li><a href="/views/locales.ejs">LOCALES</a></li>
						<li><a href="/views/reservas.ejs">RESERVAS</a></li>
						<li><a href="/views/promociones.ejs ">PROMOCIONES</a></li>
						<li><a href="/views/novedades.ejs">NOVEDADES</a></li>
					</ul>
				</div>

				<div class="col-6 col-md-12" col-md-12>
					<ul class="text-center menu-footer">
						<li><a href="/views/index.ejs">CHECKPOINT</a></li>
						<li><a href="/views/recetas.ejs">RECETAS</a></li>
						<li><a href="/views/nosotros.ejs">ACERCA NUESTRO</a></li>
					</ul>
				</div>
				<div class="col-12 col-md-6">
					<div class="seguinos">
						<ul class="text-center">
							<li class="my-2"><span>SEGUINOS EN</span></li>
							<div class="redes">
								<a class="mx-2" href="https://twitter.com/?lang=es"><i class="fab fa-twitter"></i></a>
								<a class="mx-2" href="https://www.facebook.com/"> <i class="fab fa-facebook-square"></i></a>
								<a class="mx-2" href="https://www.instagram.com/"> <i class="fab fa-instagram"></i></a>
							</div>
					
						</ul>
					</div>
				</div>
				<div class="col-12 col-md-6">
					<ul class="text-center">
						<li class="my-2"><span>CONTACTANOS</span></li>
						<div class="contacto">
							<a class="mx-2" href=""><i class="fas fa-qrcode"></i></a>
							<a class="mx-2" href=""><i class="far fa-envelope"></i></a>
						</div>
						
					</ul>

					</div>
				</div>
				<hr class="text-white">
				<div class="col-12 text-center">
					<p>Copyright © S.A todos los derechos reservados <br> Aviso legal-carpeta publica-configuracion de
						cookies</p>
				</div>

		</footer>



		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
			crossorigin="anonymous"></script>
		<!--footer-->