<header>
   <nav class="container-fluid ">
      <!--logo-->
      <div class="row ">
         <div class="col-6 logos">
            <a href="/"><img src="../logo/logo.png" alt="logotipo" class="img-fluid"></a>
         </div>
         <!--pedi online-->
         <div class="col-6 logos">
            <div class="col-12 ">
               <div class="box-1">
                  <button type="button" class="btn btn-outline-dark mt-4"><a href="../formularios/detalledecompra"> CARRITO DE COMPRAS</a></button>
               </div>
            </div>
            <div class="col-12">
               <ul class="p-0 usuario">
                  <li><a href="../../users/login">Ingresá  <br><i class="fas fa-sign-in-alt "></i></a></li>
                  <li><a href="https://checkpoint-restobar.blogspot.com/">Nuestro<br>Blog<i class="far fa-address-card "></i></a></li>
                  <li><a href="../../users/profile">profile <br>  <i class="far fa-address-card"></i></a></li>
                  <li><a href="../../users/registro">Registrate <br><i class="fas fa-sign-in-alt "></i></a></li>
               </ul>
            </div>
         </div>
        
      </div>

         <!--secciones-->
         <div class="row ">
            <nav class="navbar navbar-expand-md navbar-dark navigator">
               <div class="container-fluid">

                  <button class="navbar-toggler mx-auto" type="button" data-bs-toggle="collapse"
                     data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                     aria-expanded="false" aria-label="Toggle navigation">
                     <span class="navbar-toggler-icon burger"></span>
                  </button>
                  <div class="collapse navbar-collapse menu" id="navbarSupportedContent">

                     <li class="navi"> <a class="" href="/cartadelivery ">CARTA</a></li >
                     <li class="navi"> <a class="" href="/locales">LOCALES</a> </li >
                     <li class="navi"> <a class="" href="/reservas">RESERVAS</a> </li >
                     <li class="navi"> <a class="" href="/promociones">PROMOCIONES</a></li>
                     <li class="navi"> <a class="" href="/novedades">NOVEDADES</a> </li >



                     <form class="d-flex">

                     </form>
                  </div>
               </div>
            </nav>
         </div>
   </nav>
</header>