<header>
   <nav class="container-fluid ">
      <!--logo-->
      <div class="row ">
         <div class="col-6 logos">
            <img src="logo/logo.png" alt="logotipo" class="img-fluid">
         </div>
         <!--pedi online-->
         <div class="col-6 logos">
            <div class="col-12 ">
               <div class="box-1">
                  <button type="button" class="btn btn-outline-dark mt-4">PEDI ONLINE</button>
               </div>
            </div>
            <div class="col-12">
               <ul class="p-0 usuario">
                  <li><a href="/formularios/login">Ingresá  <i class="fas fa-sign-in-alt "></i></a></li>
                  <li><a href="/formularios/registro">Creá tu cuenta  <i class="far fa-address-card "></i></a></li>
                  <li><a href="/formularios/detalledecompra">Mis compras  <i class="fas fa-shopping-basket "></i></a></li>
               </ul>
            </div>
         </div>
        
      </div>

         <!--secciones-->
         <div class="row ">
            <nav class="navbar navbar-expand-md navbar-dark navigator">
               <div class="container-fluid">

                  <button class="navbar-toggler mx-auto" type="button" data-bs-toggle="collapse"
                     data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                     aria-expanded="false" aria-label="Toggle navigation">
                     <span class="navbar-toggler-icon burger"></span>
                  </button>
                  <div class="collapse navbar-collapse menu" id="navbarSupportedContent">

                     <li class="navi"> <a class="" href="/cartaDelivery ">CARTA</a></li >
                     <li class="navi"> <a class="" href="/locales">LOCALES</a> </li >
                     <li class="navi"> <a class="" href="/reservas">RESERVAS</a> </li >
                     <li class="navi"> <a class="" href="/promociones">PROMOCIONES</a></li>
                     <li class="navi"> <a class="" href="/novedades">NOVEDADES</a> </li >



                     <form class="d-flex">

                     </form>
                  </div>
               </div>
            </nav>
         </div>
   </nav>
</header>