<header>
   <nav class="container-fluid ">
      <!--logo-->
      <div class="row ">
         <div class="col-6 logos">
            <a href="/"><img src="/logo/logo.png" alt="logotipo" class="img-fluid" style="width: 200px;" id="checkpoint"></a>
         </div>
         <!--pedi online-->
         <div class="col-6 logos">

            <div class="usuario container  ">
               <div class="row">

                  <% if (typeof user=='undefined' ) { %>
                     <li class="col-sm col-md col-lg-3"><a href="/users/registro">Registrate <br><i
                              class="fas fa-sign-in-alt "></i></a></li>
                     <li class="col-sm col-md col-lg-3"><a href="/users/login">Ingresá <br><i
                              class="fas fa-sign-in-alt "></i></a></li>
                     <li class="col-sm col-md col-lg-3"><a
                           href="https://checkpoint-restobar.blogspot.com/">Nuestro<br>Blog<i
                              class="far fa-address-card "></i></a></li>

                     <% }else{ %>
                        <li class="nav-item dropdown">
                           <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                              data-bs-toggle="dropdown" aria-expanded="false">
                              <%= user.name %> <%= user.surname %> 
                           </a>
                           <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                              <li><a class="dropdown-item" href="/">Mi perfil</a></li>
                              <li>
                                 <a class="dropdown-item" href="/users/logout">Cerrar sesión</a>
                              </li>
                              <% if (user.category==1 ) { %>
                                 <li>
                                    <hr class="dropdown-divider" />
                                 </li>
                                 <li><a class="dropdown-item" href="/admin">Administración</a></li>
                                 <% } %>
                           </ul>


                        </li>
                        <div class="col-12 ">
                           <div class="box-1">
                              <button type="button" class="btn btn-outline-dark mt-4"><a
                                    href="../formularios/detalledecompra">Tu Pedido</a></button>
                           </div>
                        </div>
                        <% } %>
               </div>
            </div>
         </div>

      </div>
   </nav>
   <%-include('./sections') %>

</header>