<!--header-->
<header class="main-header">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-5 col-md-2">
                <a href="/" class="main-header_home-link">
                    <img src="/logo/logo.png">
                </a>
            </div>
            <div class="col-6 col-md-5">
               <p>DICEN QUE LA GLOTONERIA ES UN PECADO,HACE CHECKPOINT, ENTRA Y DISFRUTA DEL INFIERNO</p>
               <a href="cartaDelivery.ejs">CARTA DELIVERY</a>
               <a href="locales.ejs">LOCALES</a>
               <a href="reservas.ejs">RESERVAS</a>
               <a href="promociones.ejs">PROMOCIONES</a>
               <a href="novedades.ejs">NOVEDADES</a>
            </div>
            <div>
                <img src="/logo/cuchillo.jpg" alt="">
                <a href="login.ejs">PEDI ONLINE</a>
            </div>
<!--header-->