<header >
    <nav class="container-fluid">
       <!--logo--> 
                <div class="row ">
                    <div class="col-sm-4-md-3-lg">
                       <img src="img/logo.png" alt="logotipo" class="logo"> 
                    </div>
                    <!--secciones-->
                    <div class="col-sm-4-md-7-lg" >
<div class="dropdown">                      
 <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
     SECCIONES (dame click
     
     
     )
   </button>
   <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                       <li> <a class="dropdown-item" href="cartaDelivery.html">CARTA DELIVERY</a></li>
                       <li> <a class="dropdown-item" href="locales.ejs">LOCALES</a></li>
                       <li> <a class="dropdown-item" href="reservas.ejs">RESERVAS</a></li> 
                       <li>   <a class="dropdown-item" href="promociones.ejs">PROMOCIONES</a></li> 
                       <li>   <a class="dropdown-item" href="novedades.ejs">NOVEDADES</a></li>
</ul>
                    
                         </div>
                      </div>
                    </div><!--pedi online-->
                    <div class="col-sm-2-md-2-lg ">
<div class="box-1">
 <button type="button" class="btn btn-outline-dark">PEDI ONLINE</button></div>
</div>
                    </button></div>
    </nav></header>
<!--header-->