    <!--secciones-->
    <div class="row" id="navigator">
        <nav class="navbar navbar-expand-md navbar-dark navigator" >
           <div class="container-fluid" >

              <button class="navbar-toggler mx-auto" type="button" data-bs-toggle="collapse"
                 data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                 aria-expanded="false" aria-label="Toggle navigation">
                 <span class="navbar-toggler-icon burger"></span>
              </button>
              <div class="collapse navbar-collapse menu" id="navbarSupportedContent">

                 <li class="navi"> <a class="" href="/cartadelivery ">CARTA</a></li >
                 <li class="navi"> <a class="" href="/locales">SUCURSALES</a> </li >
                 <li class="navi"> <a class="" href="/reservas">RESERVAS</a> </li >
                 <li class="navi"> <a class="" href="/promociones">PROMOCIONES</a></li>
                 <li class="navi"> <a class="" href="/novedades">NOVEDADES</a> </li >



                 <form class="d-flex">

                 </form>
              </div>
           </div>
        </nav>
     </div>