<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/stylesheets/agregarProducto.css" rel=StyleSheet >
    <title>agregar</title>
</head>
<body>
    
 <%- include('partials/head')%>
    <h4>NUEVO PRODUCTO</h4>
    <div class="container">
        <div class="row">
            <div class="col-3"></div>
            <div class="register col-4 col-md-6 ">
                      <h2>Registrarse</h2><br>
                          <form action="" method="POST" >
                             <input  type="text" placeholder="usuario de administrador" class="admin"><br><br>
                             <input name="nombrePlato" type="password" placeholder="Contraseña" class="pass"><br><br>
                             <input name="tituloPlato" type="text" placeholder="titulo del plato" class="titulo"><br><br>
                             <input name="descripcionPlato" type="text" placeholder="descripcion del plato" class="descripcion"><br><br>
                             <input name="precioPlato" type="text" placeholder="precio del plato" class="precio"><br><br>
                             <imput name="imgplato" type="file" name="imagen">
                             <label for="formFile" class="form-label">ENTRADA DE ARCHIVO</label>
                            
                            
                             <select name="cantidad" class="cant">
                                <option value=1>bebidas</option>
                                <option value=2>hamburguesas</option>
                                <option value=3>postres</option>
                                <option value=4>pizza</option>
                     </select>
                            
                            
                            
                             <button class="submit" action="" value="volver atras" ><a href="/">volver atras</button>
                             <input type="submit" action="" class="submit" value="guardar">
                             <input type="submit" class="submit" value="borrar existente">
                             
                          </form>

               </div>
               <div class="col-5"></div>
               <div class="row">
                  <div class="register col-12 col-md-6 ">

                  </div>
                </div>

</body>
</html>