    <%- include('partials/head') %>
<body>
    <%- include('partials/header') %>
    
<div class="container">
  <h4>ADMINISTRADOR DE PRODUCTOS</h4>  
  <div class="row">
    <h3>ALTAS Y BAJAS DE PLATOS</h3>    
    <form action="" method="POST" enctype="multipart/form-data">
      <div class="input-group mb-3">
        <input type="file" class="form-control" name="image" id="inputGroupFile02">
      </div> 
      <div class="input-group">
        <select class="form-select" id="inputGroupSelect04" name="category" aria-label="Example select with button addon">
          <option selected hidden>Choose...</option>
          <option value="1">bebidas</option>
          <option value="2">hamburguesas</option>
          <option value="3">Postres</option>
          <option value="4">Pizzas</option>
        </select>
      </div>          
      <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">Titulo</label>
        <input type="text" class="form-control" id="formGroupExampleInput2" name="tituloPlato" placeholder="Titulo del tituloPlato">
      </div>
      <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">descripcion</label>
        <input type="text" class="form-control" id="formGroupExampleInput2" name="descripcionPlato" placeholder="Descripcion del plato">
      </div>
      <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">Precio</label>
        <input type="text" class="form-control" id="formGroupExampleInput2" name="precioPlato" placeholder="Precio del plato">
      </div>
      <div class="botones">
        <a href="/" class="btn-volver">volver atras</a> 
        <button type="submit" class="submit">Guardar</button>
        <a href="/formularios/editar">editar</a>
      </div>  
    </form>
  </div>
</div>

<div class="row">
    <div class="register col-12 col-md-6 ">
           -IR AL PANEL DE ELIMINAR PLATOS-
    </div>
</div>

</body>

</html>