<%- include('partials/head') %>
<body>
	<%- include('partials/header') %>
 <div class="container">
	<section class="row">
	<div class="titulo col-12 col-md-6 col-lg-4">
		
		<h5>bebidas</h5>
		<br>
		<a class="" href="/cartaDelivery">CocaCola vaso grande</a>
 <br>
		<a class="" href="/cartaDelivery">CERVEZA TIRADA Chomp</a>
		<br>
 <a class="" href="/cartaDelivery">cerveza artesanal</a>
 <br>
 <a class="" href="/cartaDelivery">fernet branca</a>
 <br>
 <a class="" href="/cartaDelivery">fernet branca x litro</a>
 <br>
 <a class="" href="/cartaDelivery">daikiri</a>
 
	</div>
	<div class="titulo col-12 col-md-6 col-lg-4">
		
		<h5>bebidas</h5>
		<br>
		<a class="" href="/cartaDelivery">2 completas con papas</a>
 <br>
		<a class="" href="/cartaDelivery">especial anana</a>
		<br>
 <a class="" href="/cartaDelivery">2 completas con papas</a>
 <br>
 <a class="" href="/cartaDelivery">cajita CheckPoint</a>
 <br>
 <a class="" href="/cartaDelivery">DOBLE CHEDAR</a>
 <br>
 <a class="" href="/cartaDelivery">simple point </a>
 
	</div>
	<div class="titulo col-12 col-md-6 col-lg-4">
		
		<h5>parrillada</h5>
		<br>
		<a class="" href="/cartaDelivery">menu 1</a>
 <br>
		<a class="" href="/cartaDelivery">menu 2</a>
		<br>
 <a class="" href="/cartaDelivery">menu 3</a>
 <br>
 <a class="" href="/cartaDelivery">menu 4</a>
 <br>
 <a class="" href="/cartaDelivery">menu 5</a>
 <br>
 <a class="" href="/cartaDelivery">menu 6</a>
 
	</div>
	<div class="titulo col-12 col-md-6 col-lg-4">
		
		<h5>pizzas y empanadas</h5><br>
		<a class="" href="/cartaDelivery">menu 1</a>
 <br>
		<a class="" href="/cartaDelivery">menu 2</a>
		<br>
 <a class="" href="/cartaDelivery">menu 3</a>
 <br>
 <a class="" href="/cartaDelivery">menu 4</a>
 <br>
 <a class="" href="/cartaDelivery">menu 5</a>
 <br>
 <a class="" href="/cartaDelivery">menu 6</a>
 
	</div>
	<div class="titulo col-12 col-md-6 col-lg-4">
		
		<h5>bebidas</h5>
		<br>
		<a class="" href="/cartaDelivery">menu 1</a>
 <br>
		<a class="" href="/cartaDelivery">menu 2</a>
		<br>
 <a class="" href="/cartaDelivery">menu 3</a>
 <br>
 <a class="" href="/cartaDelivery">menu 4</a>
 <br>
 <a class="" href="/cartaDelivery">menu 5</a>
 <br>
 <a class="" href="/cartaDelivery">menu 6</a>
 
	</div>
	<div class="titulo col-12 col-md-6 col-lg-4">
		
		<h5>nuestros postres</h5><br>
		<a class="" href="/cartaDelivery">FRUTOS DEL BOSQUE</a>
 <br>
		<a class="" href="/cartaDelivery">BROWNIE Chocolates</a>
		<br>
 <a class="" href="/cartaDelivery">FRUTI CREMA Del bosque</a>
 <br>
 <a class="" href="/cartaDelivery">FRUTI CREMA Del bosque</a>
 <br>
 <a class="" href="/cartaDelivery"> HELADO CHECK Artesanales</a>
 <br>
 <a class="" href="/cartaDelivery">BUDIN POINT</a>
 
	</div>
 </section>
</div>

<%- include('partials/footer') %>
 </body>
</html>