<%- include('partials/head') %>
<body>
	<%- include('partials/header') %>
 <div class="container">
	<section class="row">
	<div class="titulo col-12  col-md-6 col-lg-4">
		
		<h5>bebidas</h5>
		<br>
		<a class="" href="/cartaDelivery">CocaCola vaso grande</a>
 <br>
		<a class="" href="/cartaDelivery">CERVEZA TIRADA Chomp</a>
		<br>
 <a class="" href="/cartaDelivery">cerveza artesanal</a>
 <br>
 <a class="" href="/cartaDelivery">fernet branca</a>
 <br>
 <a class="" href="/cartaDelivery">fernet branca x litro</a>
 <br>
 <a class="" href="/cartaDelivery">daikiri</a>
 
	</div>
	<div class="titulo col-12 col-md-6 col-lg-4">
		
		<h5>postres</h5>
		<br>
		<a class="" href="/cartaDelivery">frutos</a>
 <br>
		<a class="" href="/cartaDelivery">brownie</a>
		<br>
 <a class="" href="/cartaDelivery">strudell</a>
 <br>
 <a class="" href="/cartaDelivery">helado</a>
 <br>
 <a class="" href="/cartaDelivery">budin</a>
 <br>
 <a class="" href="/cartaDelivery">flan</a>
 <br>
 <a class="" href="/cartaDelivery">banana</a>
	</div>
	<div class="titulo col-12 col-md-6 col-lg-4">
		
		<h5>hamburguesas</h5>
		<br>
		<a class="" href="/cartaDelivery">x2 completa</a>

		<a class="" href="/cartaDelivery">especial</a>
		<br>
 <a class="" href="/cartaDelivery">x3 completa</a>
 <br>
 <a class="" href="/cartaDelivery">cajita </a>
 <br>
 <a class="" href="/cartaDelivery">completa </a>
 <br>
 <a class="" href="/cartaDelivery">menu 6</a>
 
	</div>
	<div class="titulo col-12 col-md-6 col-lg-4 ">
		
		<h5>pizzas y empanadas</h5><br>
		<a class="" href="/cartaDelivery">menu 1</a>
 <br>
 <a class="" href="/cartaDelivery">doble</a>
 <br>
 <a class="" href="/cartaDelivery">simple</a>
	</div>
	<div class="titulo col-12 col-md-6 col-lg-4">
		
		<h5>pizza y empanada</h5>
		<a class="" href="/cartaDelivery">muzzarella</a>
		<br>
		<a class="" href="/cartaDelivery">combo 1</a>
		<br>
		<a class="" href="/cartaDelivery">combo 2</a>
		<br>
 <a class="" href="/cartaDelivery">1 docena</a>
 <br>
 <a class="" href="/cartaDelivery">combo 3</a>
 <br>
 <a class="" href="/cartaDelivery">vegana</a>
 <br>
 <a class="" href="/cartaDelivery">combinada</a>
 <br>
 <a class="" href="/cartaDelivery">mix 16</a>
	</div>
	
 </section>
</div>

<%- include('partials/footer') %>
 </body>
</html>