<%- include('partials/head') %>
<body>
	<%- include('partials/header') %>
 <div class="container">
	<section class="row">
	<div class="titulo col-12  col-md-6 col-lg-4">
		
		<h5>bebidas</h5>
		<br>
		<a class="" href="/productos/seccionBebidas">CocaCola vaso grande</a>
 <br>
		<a class="" href="/productos/seccionBebidas">CERVEZA TIRADA Chomp</a>
		<br>
 <a class="" href="/productos/seccionBebidas">cerveza artesanal</a>
 <br>
 <a class="" href="/productos/seccionBebidas">fernet branca</a>
 <br>
 <a class="" href="/productos/seccionBebidas">fernet branca x litro</a>
 <br>
 <a class="" href="/productos/seccionBebidas">daikiri</a>
 
	</div>
	<div class="titulo col-12 col-md-6 col-lg-4">
		
		<h5>postres</h5>
		<br>
		<a class="" href="/productos/seccionPostres">frutos</a>
 <br>
		<a class="" href="/productos/seccionPostres">brownie</a>
		<br>
 <a class="" href="/productos/seccionPostres">strudell</a>
 <br>
 <a class="" href="/productos/seccionPostres">helado</a>
 <br>
 <a class="" href="/productos/seccionPostres">budin</a>
 <br>
 <a class="" href="/productos/seccionPostres">flan</a>
 <br>
 <a class="" href="/productos/seccionPostres">banana</a>
	</div>
	<div class="titulo col-12 col-md-6 col-lg-4">
		
		<h5>hamburguesas</h5>
		<br>
		<a class="" href="/productos/seccionHamburguesas">x2 completa</a>

		<a class="" href="/productos/seccionHamburguesas">especial</a>
		<br>
 <a class="" href="/productos/seccionHamburguesas">x3 completa</a>
 <br>
 <a class="" href="/productos/seccionHamburguesas">cajita </a>
 <br>
 <a class="" href="/productos/seccionHamburguesas">completa </a>
 <br>
 <a class="" href="/productos/seccionHamburguesas">menu 6</a>
 
	</div>
	<div class="titulo col-12 col-md-6 col-lg-4 ">
		
		<h5>pizzas y empanadas</h5><br>
		<a class="" href="/productos/seccionPizzaEmpa">menu 1</a>
 <br>
 <a class="" href="/productos/seccionPizzaEmpa">doble</a>
 <br>
 <a class="" href="/productos/seccionPizzaEmpa">simple</a>
	</div>
	<div class="titulo col-12 col-md-6 col-lg-4">
		
		<h5>pizza y empanada</h5>
		<a class="" href="/productos/seccionPizzaEmpa">muzzarella</a>
		<br>
		<a class="" href="/productos/seccionPizzaEmpa">combo 1</a>
		<br>
		<a class="" href="/productos/seccionPizzaEmpa">combo 2</a>
		<br>
 <a class="" href="/productos/seccionPizzaEmpa">1 docena</a>
 <br>
 <a class="" href="/productos/seccionPizzaEmpa">combo 3</a>
 <br>
 <a class="" href="/productos/seccionPizzaEmpa">vegana</a>
 <br>
 <a class="" href="/productos/seccionPizzaEmpa">combinada</a>
 <br>
 <a class="" href="/productos/seccionPizzaEmpa">mix 16</a>
	</div>
	
 </section>
</div>

<%- include('partials/footer') %>
 </body>
</html>