<body>
<%- include('partials/header') %>
<%- include('partials/head') %>
 <section class="row">
	<div class="titulo col-2">
		
		<h5>bebidas</h5>
		<br>
		<a class="" href="/cartaDelivery">CocaCola vaso grande</a>
 <br>
		<a class="" href="/cartaDelivery">CERVEZA TIRADA Chomp</a>
		<br>
 <a class="" href="/cartaDelivery">cerveza artesanal</a>
 <br>
 <a class="" href="/cartaDelivery">fernet branca</a>
 <br>
 <a class="" href="/cartaDelivery">fernet branca x litro</a>
 <br>
 <a class="" href="/cartaDelivery">daikiri</a>
 
	</div>
	<div class="titulo col-2">
		
		<h5>bebidas</h5>
		<br>
		<a class="" href="/cartaDelivery">2 completas con papas</a>
 <br>
		<a class="" href="/cartaDelivery">especial anana</a>
		<br>
 <a class="" href="/cartaDelivery">2 completas con papas</a>
 <br>
 <a class="" href="/cartaDelivery">cajita CheckPoint</a>
 <br>
 <a class="" href="/cartaDelivery">DOBLE CHEDAR</a>
 <br>
 <a class="" href="/cartaDelivery">simple point </a>
 
	</div>
	<div class="titulo col-2">
		
		<h5>parrillada</h5>
		<br>
		<a class="" href="/cartaDelivery">menu 1</a>
 <br>
		<a class="" href="/cartaDelivery">menu 2</a>
		<br>
 <a class="" href="/cartaDelivery">menu 3</a>
 <br>
 <a class="" href="/cartaDelivery">menu 4</a>
 <br>
 <a class="" href="/cartaDelivery">menu 5</a>
 <br>
 <a class="" href="/cartaDelivery">menu 6</a>
 
	</div>
	<div class="titulo col-2">
		
		<h5>pizzas y empanadas</h5>
		<br>
		<a class="" href="/cartaDelivery">menu 1</a>

		<a class="" href="/cartaDelivery">menu 2</a>
		<br>
 <a class="" href="/cartaDelivery">menu 3</a>
 <br>
 <a class="" href="/cartaDelivery">menu 4</a>
 <br>
 <a class="" href="/cartaDelivery">menu 5</a>
 <br>
 <a class="" href="/cartaDelivery">menu 6</a>
 
	</div>
	<div class="titulo col-2">
		
		<h5>bebidas</h5>
		<br>
		<a class="" href="/cartaDelivery">menu 1</a>
 
		<a class="" href="/cartaDelivery">menu 2</a>
		<br>
 <a class="" href="/cartaDelivery">menu 3</a>
 <br>
 <a class="" href="/cartaDelivery">menu 4</a>
 <br>
 <a class="" href="/cartaDelivery">menu 5</a>
 <br>
 <a class="" href="/cartaDelivery">menu 6</a>
 
	</div>
	<div class="titulo col-2">
		
		<h5>nuestros postres</h5>
		<br>
		<a class="" href="/cartaDelivery">FRUTOS DEL BOSQUE</a>
 
		<a class="" href="/cartaDelivery">BROWNIE Chocolates</a>
		
 <a class="" href="/cartaDelivery">FRUTI CREMA Del bosque</a>
 <br>
 <a class="" href="/cartaDelivery">FRUTI CREMA Del bosque</a>
 <br>
 <a class="" href="/cartaDelivery"> HELADO CHECK Artesanales</a>
 <br>
 <a class="" href="/cartaDelivery">BUDIN POINT</a>
 
	</div>
 </section>
<div class="container"> 
	<div class="row">
	 <div class="ic">
		<div class="col-2">
          		<i  class="fas fa-truck"></i>
	            <h3>Enviamos tus compra</h3>
	            <h4>todo CABA</h4>
		</div>

    	<div class="col-4">
			    <i class="fas fa-credit-card"></i>
	            <h3>Paga como quieras</h3>
	            <h4>Tarjeta de creditos o efectivo</h4>
		</div>

	    <div class="col-4">
		    	<i class="fas fa-lock"></i>
            	<h3>Compra con seguridad</h3>
            	<h4>tus datos siempre estan protegidos</h4>
		</div>
     </div>
    </div>
</div>
<%- include('partials/footer') %>   

 </body>
</html>