<!DOCTYPE html>
<title>Carrito de compras</title>
<html lang="en">
    <%- include('partials/head') %>
<body>
    <%- include('partials/header') %>
 <div class="container total">
    <section class="row">
               <article class="primer">
                <i class="fas fa-trash-alt"><a href=""></a></i>
                       <h4>hamburguesa numero 1</h4>
                        <img rel="stylesheets" src="/images/hamburguesa.bmp" class="burguer">
                         
                   <select name="cantidad" class="cant">
                              <option value=1>1</option>
                              <option value=2>2</option>
                   </select>
                              <h3>$160</h3>
                   <select name="cantidad" class="cant2">
                              <option value=1>1</option>
                              <option value=2>2</option>
                   </select>
              
       
                   
                         <h4>subtotal:$160</h4>
                              <h4></h4>
                         <h4>envio:$110</h4>
                     <h4>_________________</h4>
                    <h4>total:$270</h4>

                      
      
                     
             <a href="/"><button class="b2">continuar comprando</button></a>
             <a href="/formularios/login"><button class="b2">finalizar compra</button></a>
                    </article>
        
    </section>
    
</div>
<%- include('partials/footer') %>
</body>
</html>