<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">


	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/style.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link
		href="https://fonts.googleapis.com/css2? family = Lato & family = Montserrat & family = Open + Sans & family = Raleway & display = swap "
		rel=" hoja de estilo ">

</head>
  
<body>
	<%- include('partials/header') %>
		<!--menu-->
		 <menu class="container">
			<section class="row">
			  <div class="titulo col-12">
				<h2 class="oferta">-CONOCÉ NUESTROS PRODUCTOS-<br>Hace CheckPoint en cada foto y descubrí nuestro menu</h2>
		      </div>

			  <div class="col-12 col-md-6 col-lg-3 ">
				<article class="producto"><!-- 1 bebidas-->
					<div class="contenido">
						<figure><a href="/productos/seccionBebidas"><img src="images/cerveza-artesanal.jpg" alt=""></a></figure>

						<h2 class="title">BEBIDAS</h2>
						<h2><span></span></h2>
						<div class="detalle">
							<p>Contamos con la mejor cerveza artesanal de la zona.<br> DESCUBRILA</p>
							<p></p>
						</div>
					 </div>
				</article>
			</div>

			<div class="col-12 col-md-6 col-lg-3 ">
					<article class="producto"><!-- 2 postres-->
						<div class="contenido">
							<figure><a href="/productos/seccionPostres"><img src="images/helados.jpg" alt=""></a></figure>
							<h2 class="title"> POSTRES</h2>

							<div class="detalle">
								<p>Hacemos los mas ricos postres caseros con recetas originales.<br>ENDULZATE </p>
								<hr>
								<p></p>
							</div>
						</div>
					</article>
				</div>
				
				<div class="col-12 col-md-6 col-lg-3 ">
					<article class="producto"><!--3 HAMBURGUESAS-->
						<div class="contenido">
							<figure><a href="/productos/seccionHamburguesas"><img src="images/hamburPortada.jpg" alt=""></a></figure>
			
							<h2 class="title">HAMBUR</h2>
                            <div class="detalle">
								<p>Si todavía no probaste nuestras burguer, no sabes lo que te perdes.<br></p>
								<p></p>
							</div>
						</div>
					</article>
				</div>
			
				<div class="col-12 col-md-6 col-lg-3">
					<article class="producto"><!--5 PIZZA Y EMPANADAS-->
						<div class="contenido">
							<figure><a href="/productos/seccionPizzaEmpa"><img src="images/pizzaEmpaPortada.jpg" alt=""></a></figure>

							<h2>ROTISERIA</h2>
							<span></span>


							<div class="detalle">
								<p>Variedades de pizzas y empanadas que no lo vas a pode creer.</p>
								<p></p>
							</div>
						</div>
					</article>
				</div>


				
			</section>


			<%- include('partials/footer') %> 
		
</body>

</html>