<%- include('partials/head') %>
  <title>Inicio</title>
<body>
	<%- include('partials/header') %>
		<!--menu-->
		 <menu class="container">
			<section class="row">
			  <div class="titulo col-12">
			<h2 class="oferta">-CONOCÉ NUESTROS PRODUCTOS-<br>Hace CheckPoint en cada foto y descubrí nuestro menu</h2>
		      </div>

			  <div class="col-12 col-md-6 col-lg-3 ">
				<article class="producto"><!-- 1 bebidas-->
					<div class="contenido">
						<figure><a href="/productos/secciones/1"><img src="images/cerveza-artesanal.jpg" alt=""></a></figure>

						<h2 class="title">BEBIDAS</h2>
						<h2><span></span></h2>
						<div class="detalle">
							<p>Contamos con la mejor cerveza artesanal de la zona.<br> DESCUBRILA</p>
							<p></p>
						</div>
					 </div>
				</article>
			</div>

			<div class="col-12 col-md-6 col-lg-3 ">
					<article class="producto"><!-- 2 postres-->
						<div class="contenido">
							<figure><a href="/productos/secciones/2"><img src="images/helados.jpg" alt=""></a></figure>
							<h2 class="title"> POSTRES</h2>

							<div class="detalle">
								<p>Hacemos los mas ricos postres caseros con recetas originales.<br>ENDULZATE </p>
								<hr>
								<p></p>
							</div>
						</div>
					</article>
				</div>
				
				<div class="col-12 col-md-6 col-lg-3 ">
					<article class="producto"><!--3 HAMBURGUESAS-->
						<div class="contenido">
							<figure><a href="/productos/secciones/3"><img src="images/hamburPortada.jpg" alt=""></a></figure>
			
							<h2 class="title">HAMBUR</h2>
                            <div class="detalle">
								<p>Si todavía no probaste nuestras burguer, no sabes lo que te perdes.<br>PROBALOS</p>
								<p></p>
							</div>
						</div>
					</article>
				</div>
			
				<div class="col-12 col-md-6 col-lg-3">
					<article class="producto"><!--5 PIZZA Y EMPANADAS-->
						<div class="contenido">
							<figure><a href="/productos/secciones/4"><img src="images/pizzaEmpaPortada.jpg" alt=""></a></figure>

							<h2>ROTISERIA</h2>
							<span></span>


							<div class="detalle">
								<p>Variedades de pizzas y empanadas que no lo vas a pode creer.<br>DISFRUTALAS</p>
								<p></p>
							</div>
						</div>
					</article>
				</div>


				
			</section>


			<%- include('partials/footer') %> 
		
</body>

</html>