<%= include ('head')  %> 
<body>
	<%= include ('header')  %>
<!--menu-->
<menu class="container"> 
	<section class="row">
		<div class="titulo col-12">
			<h2 class="oferta">
				-disfruta de la mejores ofertas-
			</h2>
		</div>
		<div class="col-12 col-md-6 col-lg-3">
			<article class="producto">
				<div class="contenido">
					<figure>
						<a href=""><img src="img/cerveza-artesanal.jpg" alt=""></a>
					</figure>
					<article>
						<h2>
							$250
						</h2>
						<span>10% OFF</span>
						<!--<i class="fas fa-truck "></i>-->
					</article>
					<div class="detalle">
						<p>Cerveza Artezanal </p>
						<p>Elaborado con ingredientes naturales </p>
					</div>
				</div>
			</article>
		</div>
		<div class="col-12 col-md-6 col-lg-3 ">
			<article class="producto">
				<div class="contenido">
					<figure>
						<a href=""><img src="img/helados.jpg" alt=""></a>
					</figure>
					<article>
						<h2>
							$450 x kg 
						</h2>
						
							<!--<i class="fas fa-truck "></i>-->
					</article>
					<div class="detalle">
						<p>Helados artezanales </p>
						<p>la mayor variedad de gustos </p>
					</div>
				</div>
			</article>
		</div>
		<div class="col-12 col-md-6 col-lg-3">
			<article class="producto">
				<div class="contenido">
					<figure>
						<a href=""><img src="img/pizza.jpg" alt=""></a>
					</figure>
					<article>
						<h2>
							$350
						</h2>
						
					</article>
					<div class="detalle">
						<p>Pizza </p>
						<p>Disfruta la mejor variedad</p>
					</div>
				</div>
			</article>
		</div>
		<div class="col-12 col-md-6 col-lg-3">
			<article class="producto">
				<div class="contenido">
					<figure>
						<a href=""><img src="img/empanadas.jfif" alt=""></a>
					</figure>
					<article>
						<h2>
							$350
						</h2>
						
					</article>
					<div class="detalle">
						<p>Empanadas </p>
						<p>Clasicas,de Pollo,JyQ entre otras</p>
					</div>
				</div>
			</article>
		</div>

		
	</section><!---separacion para productos destacados-->
	<menu class="container"> 
		<section class="row">	<h2 class="oferta">
		~productos destacados~
	</h2><div class="col-12 col-md-6 col-lg-3">
		<article class="producto">
			<div class="contenido">
				<figure>
					<a href=""><img src="img/cerveza-artesanal.jpg" alt=""></a>
				</figure>
				<article>
					<h2>
						$250
					</h2>
					<span>10% OFF</span>
					<!--<i class="fas fa-truck "></i>-->
				</article>
				<div class="detalle">
					<p>Cerveza Artezanal </p>
					<p>Elaborado con ingredientes naturales </p>
				</div>
			</div>
		</article>
	</div>
	<div class="col-12 col-md-6 col-lg-3 ">
		<article class="producto">
			<div class="contenido">
				<figure>
					<a href=""><img src="img/helados.jpg" alt=""></a>
				</figure>
				<article>
					<h2>
						$450 x kg 
					</h2>
					
						<!--<i class="fas fa-truck "></i>-->
				</article>
				<div class="detalle">
					<p>Helados artezanales </p>
					<p>la mayor variedad de gustos </p>
				</div>
			</div>
		</article>
	</div>
	<div class="col-12 col-md-6 col-lg-3">
		<article class="producto">
			<div class="contenido">
				<figure>
					<a href=""><img src="img/pizza.jpg" alt=""></a>
				</figure>
				<article>
					<h2>
						$350
					</h2>
					
				</article>
				<div class="detalle">
					<p>Pizza </p>
					<p>Disfruta la mejor variedad</p>
				</div>
			</div>
		</article>
	</div>
	<div class="col-12 col-md-6 col-lg-3">
		<article class="producto">
			<div class="contenido">
				<figure>
					<a href=""><img src="img/empanadas.jfif" alt=""></a>
				</figure>
				<article>
					<h2>
						$350
					</h2>
					
				</article>
				<div class="detalle">
					<p>Empanadas </p>
					<p>Clasicas,de Pollo,JyQ entre otras</p>
				</div>
			</div>
		</article>
	</div></section>
 
 <div class="container"> <div class="row">
	 <div class="ic">
   <ul> <i class="fas fa-truck"></i>
	<h3>Enviamos tus compra</h3>
	<h4>todo CABA</h4>

	<i class="fas fa-credit-card"></i>
	<h3>Paga como quieras</h3>
	<h4>Tarjeta de creditos o efectivo</h4>

	<i class="fas fa-lock"></i>
	<h3>Compra con seguridad</h3>
	<h4>tus datos siempre estan protegidos</h4>
 </ul></div></div></div>

 <%= include ('footer')  %>

</body></html>