<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Secciones de comidas</title>
  <link rel="stylesheet" href="/stylesheets/inicioSecciones.css">
  

  <link href="https://fons.googleapis.com/css2?family=Open+Sans&family=raleway:wght@400;700&family=work+Sans&300&display=swap"
  rel="stylesheet">
  <script src="https://kit.fontawesome.com/64afb4feab.js" crossorigin="anonymous"></script>
  

</head>
<body>
  <ul class="secciones">
    
  <li><a class="seccionBebidas" href="seccionBebidas.ejs">NUESTRAS BEBIDAS</a></li>
  <br>
  <li><a class="seccionHamburguesas" href="seccionHamburguesas.ejs">NUESTRAS HAMBURGUESAS </a></li>
  <br>
  <li><a class="seccionPlatosPrincipales" href="seccionPlatosPrincipales.ejs">NUESTROS PLATOS PRINCIPALES</a></li>
  <br>
  <li><a class="seccionPostres" href="seccionPostres.ejs">NUESTROS POSTRES</a></li>
  <br>
  <li><a class="seccionPizzaEmpanadas" href="secionPizzaEmpa.ejs">NUESTRAS PIZZAS Y EMPANADAS</a></li>

  <a href=""><i class="fab fa-twitter"></i></a>
  <a href=""><i class="fab fa-facebook-square"></i></a>
  <a href=""><i class="fab fa-instagram"></i></a>
 </ul>
 
 <h3>B  I  E  N  V  E  N  I  D  O  S</h3>
 </body>
 </html>