<!DOCTYPE html>
<title>Nuestros Locales</title>
<html lang="es">
<head>
	<%- include('partials/head') %>
</head>
<body>
	<%- include('partials/header') %>
	        <!--header-->
            <!--menu-->
			
<div class="container" >
	<div class="row">
		<div class="col-12 col-md-6" style="color: rgb(150, 80, 150); font-size: 24px"/>
			<i class="fas fa-utensils" style="color: rgb(150, 80, 150);"/></i>
			<i class="fas fa-concierge-bell" style="color: rgb(150, 80, 150);"/></i>
			<i class="fas fa-glass-martini" style="color: rgb(150, 80, 150);"/></i>
			<br><br>
				<h3>RESTÓ PILAR</h3>
				<h4>Colectora Panamericana Y Posadas </h4>
				<br><br>
		</div>
		<div class="col-12 col-md-6" style="color: rgb(150, 80, 150); font-size: 24px"/>
			<i class="fas fa-utensils" style="color: rgb(150, 80, 150);"/></i>
			<i class="fas fa-concierge-bell" style="color: rgb(150, 80, 150);"/></i>
			<i class="fas fa-glass-martini" style="color: rgb(150, 80, 150);"/></i>
			<br><br>
			<h3>RESTÓ LOMAS</h3>
			<h4>Laprida 200 peatonal</h4>
			<br><br>
		</div>
		<div class="col-12 col-md-6" style="color: rgb(150, 80, 150); font-size: 24px"/>
			<i class="fas fa-utensils" style="color: rgb(150, 80, 150);"/></i>
			<i class="fas fa-concierge-bell" style="color: rgb(150, 80, 150);"/></i>
			<i class="fas fa-glass-martini" style="color: rgb(150, 80, 150);"/></i>
			<br><br>
			<h3>RESTÓ BANDFIELD</h3>
           <h4>Av. alsina 500</h4>
		</div>

		<div class="col-12 col-md-6" style="color: rgb(150, 80, 150); font-size: 24px"/>
			<i class="fas fa-utensils" style="color: rgb(150, 80, 150);"/></i>
			<i class="fas fa-concierge-bell" style="color: rgb(150, 80, 150);"/></i>
			<i class="fas fa-glass-martini" style="color: rgb(150, 80, 150);"/></i>
			<br><br>
			<h3>RESTÓ TEMPERLEY</h3>
			<h4>Av. almirante brown 600</h4>
		</div>
	</div>
</div>

 <!--footer-->
 
   

 <%- include('partials/footer') %>  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <!--footer-->

 </body>
</html>