  <%- include('partials/head') %>
    <title>login</title>
</head>
<body>
  <%- include('partials/header') %>

    <div class="container">
        <div class="row">
             
              <div class="login col-12 ">
              <h2>Iniciar Sesión</h2>
              <form action="/users/login" method="post">
                <input type="email" placeholder="tu email" name="email"><br><br>
                <input type="password" placeholder="tu contraseña" name="pass"><br><br>
                <input type="checkbox" placeholder="tu contraseña" name="recordar" id="recordar">
                <label for="recordar">Recordarme</label>
                <button class="btn btn-primary" type="submit">Ingresar</button>
            </form>
                    <div class="login-items col-12 col-md-12  ">
                         <button class="fb"><i class="fab fa-facebook-f"></i>   Acceder con Facebook</button>
                         <button class="tw"><i class="fab fa-twitter"></i>   Acceder con Twitter</button>
                         <button class="correo"><i class="fas fa-envelope"></i>   Acceder con Correo</button><br>
                        <a href="/views/registro.ejs"> ¿no estas registrado? registrate aca</a>
                    </div>
                </form>
              </div>
        </div>
      </div>
      <%- include('partials/footer') %>    
   
</body>
</html>