  
<title>login</title>
    <%- include('partials/header') %>
<body>
  <%- include('partials/head') %>

    <div class="container">
        <div class="row">
             
              <div class="login col-12 ">
              <h2>Iniciar Sesión</h2>
              <form action="/users/login" method="post">
                <input type="email" placeholder="tu email" name="email"><br><br>
                <input type="password" placeholder="tu contraseña" name="pass"><br><br>
                <input type="checkbox" placeholder="tu contraseña" name="recordar" id="recordar">
                <label for="recordar">Recordarme</label>
                <input class="btn btn-primary" type="submit" value="ingresar">
                    <div class="login-items col-12 col-md-12  ">
                         <input class="fb" value="Acceder con Facebook" <i class="fab fa-facebook-f"></i>><i class="fab fa-facebook-f"></i>  
                         <input class="tw"><i class="fab fa-twitter"></i>   Acceder con Twitter >
                         <input class="correo"><i class="fas fa-envelope"></i>   Acceder con Correo ><br>
                        <a href="/users/registro"> ¿no estas registrado? registrate aca</a>
                    </div>
                </form>
              </div>
        </div>
      </div>
      <%- include('partials/footer') %>    
   
</body>
</html>