<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
   

    <!-- Own Stylesheet -->
    <link rel="stylesheet" href="/stylesheets/style.css"> 
     <link rel = "preconnect" href = "https://fonts.gstatic.com">
    <link href = "https://fonts.googleapis.com/css2? family = Lato & family = Montserrat & family = Open + Sans & family = Raleway & display = swap "rel =" hoja de estilo ">
    
</head>
<%- include('partials/header') %>

	        <!--header-->
            <!--menu-->
<menu class="container">
    <div class="row">
                             <h1>--¿Quienes Somos?--</h1><br>
                            <p>Somos un grupo de apasionados de la programación web que durante la cuarentena sintió que a las reuniones por Zoom con amigos les faltaba algo: una buena picada y una cerveza artesanal bien fría.
                                posdata:¡Amamos las PIZZAS!!!!.
                            </p>
                             <h1>~~¿Como Empezamos?~~</h1><br>
                             <p>Check Point es una plataforma de venta de comida y cervecería artesanal que nace frente a la necesidad de innovación del rubo gastronomico al encontrarse afectado por la pandemia de COVID-19.

                                Buscamos atraer un público que disfrute de platos típicos de bar como así también de cervezas artesanales.</p>
                              <h1>--conoce a nuestro staf--</h1><br>
                              <div class="card mb-3" style="max-width: 540px;">
                                <div class="row g-0">
                                  <div class="col-md-4">
                                    <img width="150px" height="200px" src="/images/foto2.png" alt="...">
                                  </div>
                                  <div class="col-md-8">
                                    <div class="card-body">
                                      <h5 class="card-title">Ana Patricia Rojas</h5>
                                      <p class="card-text">39 años,Emprendedora fans de las hamburguesería y de la cerveza artesanal son su debilidad </p>
                                      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                        
                        
                              <div class="card mb-3" style="max-width: 540px;">
                                <div class="row g-0">
                                  <div class="col-md-4">
                                    <img width="150px" height="150px" src="/images/foto3.jpg" alt="...">
                                  </div>
                                  <div class="col-md-8">
                                    <div class="card-body">
                                      <h5 class="card-title">Josue Abi Rached Dos Reis</h5>
                                      <p class="card-text">24 años,fanaticos de los videojuegos y de la musica!!. </p>
                                      <p class="card-text"><small class="text-muted">Last updated 8 mins ago</small></p>
                                    </div>
                                  </div>
                                </div>
                              </div>


                              <div class="card mb-3" style="max-width: 540px;">
                                <div class="row g-0">
                                  <div class="col-md-4">
                                    <img width="150px" height="150px" src="/images/foto1.png" alt="...">
                                  </div>
                                  <div class="col-md-8">
                                    <div class="card-body">
                                      <h5 class="card-title">Matías Cardillo</h5>
                                      <p class="card-text">29 años,Vendedor
                                  Le encantan las hamburguesas</p>
                                      <p class="card-text"><small class="text-muted">Last updated 25 mins ago</small></p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                               
                              <h1>--ubicanos en-- </h1>
                              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3279.05059574128!2d-58.34830674515807!3d-34.72911902122834!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95a32d6054858655%3A0x9ee4cdbcea989a6b!2sAv.%20Tte.%20Gral.%20Donato%20%C3%81lvarez%204899-4799%2C%20B1825%20Monte%20Chingolo%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1612930858744!5m2!1ses-419!2sar" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                            
                            
                            
                            
                            
                            
                              
                                
                              
                                
                                
    </div>
</menu>

<div class="container"> 
	<div class="row">
	 <div class="ic">
		<div class="col-4">
          		<i  class="fas fa-truck"></i>
	            <h3>Enviamos tus compra</h3>
	            <h4>todo CABA</h4>
		</div>

    	<div class="col-4">
			    <i class="fas fa-credit-card"></i>
	            <h3>Paga como quieras</h3>
	            <h4>Tarjeta de creditos o efectivo</h4>
		</div>

	    <div class="col-4">
		    	<i class="fas fa-lock"></i>
            	<h3>Compra con seguridad</h3>
            	<h4>tus datos siempre estan protegidos</h4>
		</div>
     </div>
    </div>
</div>

 <!--footer-->
 <%- include('partials/footer') %>

 </body>
</html>