<!DOCTYPE html>
<title>Novedades</title>
<html lang="es">
	<%- include('partials/head') %>
<body>
	<%- include('partials/header') %>
	        <!--header-->
            <!--menu-->
			<div class="container novedades"> 
				<div class="row">
	<h1>-Informate de las mejores novedades-</h1>
	<h2>proximamente </h2>
				</div>
			</div>

 <!--footer-->
 <%- include('partials/footer') %>  
   

   
 
    <!--footer-->

 </body>
</html>