<!DOCTYPE html>
<html lang="es">
<%- include('partials/head') %>

	<body>
		<%- include('partials/header') %>
			<div class="container login my-5 boxs">
				<i class="fas fa-utensils" style="color: rgb(150, 80, 150);"/></i>
			<i class="fas fa-concierge-bell" style="color: rgb(150, 80, 150);"/></i>
			<i class="fas fa-glass-martini" style="color: rgb(150, 80, 150);"/></i>
		
				<div class="row my-5 ">
					<h1>-INFORMATE DE NUESTRAS NOVEDADES-</h1>
					<h2>(proximamente) </h2>
				</div>
			</div>
			<%- include('partials/footer') %>

	</body>

</html>