<%- include('partials/head') %>
<body>
  <%- include('partials/header') %>
	       <br>
         <br>
         <br>
           <h4>PROMOS DE LA SEMANA</h4>
            <div class="container">
              <div class="row">
                <div class="col-12 col-md-4">
                  <div class="card-body login">
                    <h4 class="card-title">PROMO N°1</h4>
                    <h4 class="card-text">Llevando dos pizzas y un fainá pedí tu miniChoopper GRATIS!!! </h4>
                 </div>
                </div>
                <div class="col-12 col-md-4">
                  <div class="card-body login">
                    <h4 class="card-title">PROMO N°2</h4>
                    <h4 class="card-text"> Del jueves a sabado 10% de descuento en Cerveza artezanal</h4>
                 </div>
                </div>
                <div class="col-12 col-md-4">
                  <div class="card-body login">
                    <h4 class="card-title">PROMO N°3</h4>
                    <h4 class="card-text">HOY VIERNES!!! AFTER OFFICE HAPPY DAY Con FUNDACIÓN FORMAR</h4>
                 </div>
                </div>
              </div>
            </div>
            <div class="container">
              <div class="row">
                <div class="col-12 col-md-4">
                  <div class="card-body login">
                    <h4 class="card-title">PROMO N°4</h4>
                    <h4 class="card-text">Jueves 2X1 en todos nuestros tragos"</h4>
                 </div>
                </div>
                <div class="col-12 col-md-4">
                  <div class="card-body login">
                    <h4 class="card-title">PROMO N°5</h4>
                    <h4 class="card-text">Todos los días 10% de descuento para alumnos y equipo de Formar </h4>
                 </div>
                </div>
                <div class="col-12 col-md-4">
                  <div class="card-body login">
                    <h4 class="card-title">PROMO N°6</h4>
                    <h4 class="card-text">Si estás subscripto a nuestro blog, sos Cliente premium, y tendrás una gift card de beneficios especiales</h4>
                 </div>
                </div>
              </div>
            </div>


     <br>
     <h4>Todas las promociones son validas sólo en efectivo</h4>
</menu>            

               


 <!--footer-->

 <%- include('partials/footer') %>  

   
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <!--footer-->

 </body>
</html>