<%- include('partials/head') %>
<body>
  <%- include('partials/header') %>
	        <!--header-->
            <!--menu-->
 <menu class="container">
    <div class="row">

                
            <h1>--CONOCÉ NUESTRAS PROMOCIONES--</h1>
         <div
        class="col-12 col-md-6 col-lg-4">
            <div class="card text-white bg-danger " >
              <div class="card-body">
                  <h5 class="card-title">promo N°1</h5>
                  <p class="card-text">No te olvides de acerte socio y disfrutar de luner a jueves 15% pizzas</p>
               </div>
            </div>
         </div>
           
            <div class="col-12 col-md-6 col-lg-4">
              <div class="card text-white bg-success " >
                <div class="card-body">
                  <h5 class="card-title">promo N°2</h5>
                  <p class="card-text">Lleva dos muzza y obtene un descuento del 20%</p>
                </div>
              </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4">
              <div class="card text-white bg-danger " >
                <div class="card-body">
                  <h5 class="card-title">promo N°3</h5>
                  <p class="card-text">Pasate todos lunes y martes y obtene un descuento del 15% en Helados y Cervezas</p>
                </div>
              </div>
            </div>

             <div class="col-12 col-md-6 col-lg-4">
              <div class="card text-dark bg-warning " >
                <div class="card-body">
                  <h5 class="card-title">promo N°4</h5>
                  <p class="card-text">Llevando dos pizza y un faina pedi tu miniChoopper "GRATIS!!"</p>
                </div>
              </div>
            </div>

              <div class="col-12 col-md-6 col-lg-4">
               <div class="card text-dark bg-info " >
                <div class="card-body">
                  <div>
                   <h5 class="card-title">promo N°5</h5>
                   <p class="card-text"><p>Aprobecha 10% de jueves a sabados en Cerveza artezanal</p>
                  </div>
                </div>
               </div>
              </div>

              <div class="col-12 col-md-6 col-lg-4">
                <div class="card text-dark bg-warning " >
                  <div class="card-body">
                    <h5 class="card-title">promo N°6</h5>
                    <p class="card-text">Llevando dos pizza y una cerveza, te llevas un chomp "GRATIS!!"</p>
                  </div>
                </div>
     </div>
     <br>
     <h1>Todas las promociones son validas solo en efectivo</h1>
</menu>            

               


 <!--footer-->

 <%- include('partials/footer') %>  

   
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <!--footer-->

 </body>
</html>