<%- include('partials/head') %>
	<title>registro</title>


<body>
	<%- include('partials/header') %>
	<div class="container">
		<div class="row">
			<div class="col-12">
			     <h1>REGISTRATE</h1><!--method post creamos un formulario -->
			        <form action="/users/registro" method="post" enctype="multipart/form-data">
				        <input type="text" placeholder="Nombre "  name="name" id="nombre" ><br><br>
			            <input type="text" placeholder="Apellido "  name="surname" id="apellido" ><br><br>
						<input type="email" placeholder="Email"  name="email" id="email" ><br><br>
			         	<input type="password" placeholder="Contraseña"  name="pass" id="pass" ><br><br>
			         	<input type="password" placeholder="Reingrese la contraseña"  name="pass2" id="pass2"><br><br>
			         	<input type="file" name="avatar"><br><br> 
						 <span>↓↓↓Para envios a domicilio completa aca↓↓↓</span><br><br>
						<input type="text" placeholder="Province"   name="provincia" id="Province"><br><br>
			        	<input type="text" placeholder="Localidad"   name="localidad" id="location"><br><br>
						<input type="text" placeholder="Dirección"   name="direccion" id="address"><br><br> 
						<input type="tel" placeholder="Teléfono"    name="telefono" id="phonenumber"><br><br>

			            	<button class="btn btn-danger" type="submit">Registrarme</button><br>
			       	<a href="/users/login">ya sos parte de CheckPoint ingresa aca</a>
		        	</form>
	      <% if (typeof errores != 'undefined') { %>
				<ul>
					<%errores.forEach(error =>  { %>
						<li><%=error.msg %> </li>
						
						<% }) %>
				</ul>
			 
			<% } %>
    	    </div>
        </div>
    </div>
<%- include('partials/footer') %>
<script src="/public/javascript/userRegister.js"></script>
</body>
</html>	

  