<!DOCTYPE html>
<title>reservas</title>
<html lang="es">
  <%- include('partials/head') %>
<body>

  <%- include('partials/header') %>      <!--header-->
            <!--menu-->

                             

   <div class="container">
     <div><h1>-RESERVÁ Y DISFRUTÁ-</h1>
        <div class="container">
          <div class="turno">
            </form>
               <form action="">
               <p>Elige el dia</p>
               <div class="d-flex flex-column justify-content-center align-items-center mb-4">
                <input class="form-control w-25" type="text" placeholder="Martes a Domingo"  name="pass" id="pass" >
               </div>
               <p>Selecciona la hora</p>
               <div class="d-flex flex-column justify-content-center align-items-center mb-4">
                <input class="form-control w-25" type="text" placeholder="De 19:00 a 02:00"  name="pass" id="pass" >
               </div>
             </form>
            </div>
          </div>
        </div>
      </div>
      

 <%- include('partials/footer') %>  

</body> 
</html>