<%- include('partials/header') %>
<%- include('partials/head') %>
	<body>
		<menu class="container">
			<section class="row">
				<div class="titulo col-12">
					<h2 class="oferta">-NUESTROSS POSTRES-</h2>
				</div>
				<div class="col-12 col-md-6 col-lg-3">
					<article class="producto"><!-- 1 -->
						<div class="contenido">
							<figure><a href=""><img src="/images/postre1.jpg" alt=""></a></figure>

							<h2 class="title">FRUTOS DEL BOSQUE</h2>
							<h2><span>400$</span></h2>

							<div class="detalle mt-3 text-center">
								<hr>
								<p></p>
							</div>
							<div class="d-grid gap-2 d-md-block">
								<a href="/"><button class="btn btn-primary" type="button">Atrás</button></a>
								<button class="btn btn-primary" type="button">Pedir</button>
							</div>
						</div>
					</article>
				</div>

				<div class="col-12 col-md-6 col-lg-3">
					<article class="producto"><!-- 2 -->
						<div class="contenido">
							<figure><img src="/images/postre2.jpg" alt=""></figure>
							<h2 class="title">BROWNIE <br>Chocolates</h2>
							<h2><span>250$</span></h2>
							<div class="detalle mt-3 text-center">
								<hr>
								<p></p>
							</div>
							<div class="d-grid gap-2 d-md-block">
								<a href="/"><button class="btn btn-primary" type="button">Atrás</button></a>
								<button class="btn btn-primary" type="button">Pedir</button>
							</div>
						</div>
					</article>
				</div>

				<div class="col-12 col-md-6 col-lg-3">
					<article class="producto"><!-- 3 -->
						<div class="contenido">
							<figure><a href=""><img src="/images/postre1.jpg" alt=""></a></figure>

							<h2 class="title">FRUTI CREMA<br>Del bosque</h2>
							<h2><span>300$</span></h2>

							<div class="detalle mt-3 text-center">
								<hr>
								<p></p>
							</div>
							<div class="d-grid gap-2 d-md-block">
								<a href="/"><button class="btn btn-primary" type="button">Atrás</button></a>
								<button class="btn btn-primary" type="button">Pedir</button>
							</div>
						</div>
					</article>
				</div>
				<div class="col-12 col-md-6 col-lg-3">
					<article class="producto"><!-- 3 -->
						<div class="contenido">
							<figure><a href=""><img src="/images/postre1.jpg" alt=""></a></figure>

							<h2 class="title">FRUTI CREMA<br>Del bosque</h2>
							<h2><span>300$</span></h2>

							<div class="detalle mt-3 text-center">
								<hr>
								<p></p>
							</div>
							<div class="d-grid gap-2 d-md-block">
								<a href="/"><button class="btn btn-primary" type="button">Atrás</button></a>
								<button class="btn btn-primary" type="button">Pedir</button>
							</div>
						</div>
					</article>
				</div>    
				<section class="row">
					<div class="titulo col-12">
						<h2 class="oferta">-DESCUENTOS ESPECIALES-</h2>
					</div>
					<div class="col-12 col-md-6 col-lg-3">
						<article class="producto"><!-- 4-->
							<div class="contenido">
								<figure><img src="/images/postre4.jpg" alt=""></figure>
	
								<h2 class="title"> HELADO  <br>Artesanal</h2>
								<h2><span>700$ Kg</span></h2>
	
								<div class="detalle mt-3 text-center">
									
									<p></p>
								</div>
								<div class="d-grid gap-2 d-md-block">
									<a href="/"><button class="btn btn-primary" type="button">Atrás</button></a>
									<button class="btn btn-primary" type="button">Pedir</button>
								</div>
							</div>
						</article>
					</div>
	
					<div class="col-12 col-md-6 col-lg-3">
						<article class="producto"><!-- 5 -->
							<div class="contenido">
								<figure><img src="/images/postre5.jpg" alt=""></figure>
	
								<h2 class="title">BUDIN  <br>Choco</h2>
								<h2><span>350$</span></h2>
	
								<div class="detalle mt-3 text-center">
									<hr>
									<p></p>
								</div>
								<div class="d-grid gap-2 d-md-block">
									<a href="/"><button class="btn btn-primary" type="button">Atrás</button></a>
									<button class="btn btn-primary" type="button">Pedir</button>
								</div>
							</div>
						</article>
					</div>
					<div class="col-12 col-md-6 col-lg-3">
						<article class="producto"><!-- 6 -->
							<div class="contenido">
								<figure><img src="/images/postre6.jpg" alt=""></figure>
	
								<h2 class="title">FLAN CHECK <br>De la casa</h2>
								<h2><span>350$</span></h2>
	
								<div class="detalle mt-3 text-center">
									<hr>
									<p></p>
								</div>
								<div class="d-grid gap-2 d-md-block">
									<a href="/"><button class="btn btn-primary" type="button">Atrás</button></a>
									<button class="btn btn-primary" type="button">Pedir</button>
								</div>
							</div>
						</article>
					</div>
					<div class="col-12 col-md-6 col-lg-3">
						<article class="producto"><!-- 6 -->
							<div class="contenido">
								<figure><img src="/images/postre6.jpg" alt=""></figure>
	
								<h2 class="title">FLAN CHECK <br>De la casa</h2>
								<h2><span>350$</span></h2>
	
								<div class="detalle mt-3 text-center">
									<hr>
									<p></p>
								</div>
								<div class="d-grid gap-2 d-md-block">
									<a href="/"><button class="btn btn-primary" type="button">Atrás</button></a>
									<button class="btn btn-primary" type="button">Pedir</button>
								</div>
							</div>
						</article>
					</div>
				</menu>		

	</body>	<!--menu-->
		
      
	 <%- include('partials/footer') %>    
		


     