<body>
	<%- include('partials/header') %>
   <%- include('partials/head') %>
		<!--menu-->
		<menu class="container">
			<section class="row">
				<div class="titulo col-12">
					<h2 class="oferta">-Nuestras Bebidas-/secciones en proceso)</h2>
				</div>
				<div class="col-12 col-md-4 col-lg-3">
					<article class="producto"><!-- 1 bebidas-->
						<div class="contenido">
							<img src="/images/bebida1.jpg" class="img-fluid" alt="combo completo de dos hamburguesas completas"> 

							<h2 class="title">BEBIDAS</h2>
							<h2><span>20% OFF</span></h2>

<<<<<<< HEAD
    <h2 class="nombrePlato">GASEOSAS DE LA CASA </h2>
     <div class="plato">
            
      <img src="/images/bebida1.jpg" class="img-fluid" alt="combo completo de dos hamburguesas completas"> 
      <div class="Especificacion">
         <div class="d-grid gap-2 d-md-block">
        <a href="/"><button class="btn btn-primary" type="button">Atrás</button></a>
        
        <a href="/formularios/detalledecompra"> <button class="btn btn-primary" type="button">Pedir</button></a>
         </div>
         <p class="Precios"> 200$ </p>
            
         <p class="NombrePlato"> COCACOLA, FANTA, SPRITE </p>
        
         <p class="Especificacion"> Bebidas sin alcohol, de 2l 1/4 <br>
             -------------------------------------------------------------------------------------------------------</p>
         <div class="Especificacion">
=======
							<div class="detalle mt-3 text-center">
								<hr>
								<p>Cocacola, fanta, sprite<br>
                        250$</p>
               
							</div>
						</div>
                  <div class="d-grid gap-2 d-md-block">
                     <a href="/"><button class="btn btn-primary" type="button">Atrás</button></a>
                     <a href=""> <button class="btn btn-primary" type="button">Pedir</button></a>
                     </div>
					</article>
				</div>
>>>>>>> ce377bcc7aa68ccefbd30732fcfd80e3649243dc


		
      
      
      
      
      
      
      
      
      <!--cierra menu-->
      
         </menu>

<<<<<<< HEAD
   
  
     <h2 class="nombrePlato">CHECKPOINT CERVEZA TIRADA </h2>
     <div class="plato">
        
      <img src="/images/bebida2.jpg" class="img-fluid" alt="combo completo de dos hamburguesas completas"> 
         <div class="Especificacion">
            <div class="d-grid gap-2 d-md-block">
            <a href="inicioSecciones"><button class="btn btn-primary" type="button">Atrás</button></a>
            <a href="/formularios/detalledecompra"> <button class="btn btn-primary" type="button">Pedir</button></a>
             
             <p class="Precios"> 300$ </p>
             <p class="NombrePlato"> Varios sabores para degustar en nuestro local </p>
             
             <p class="Especificacion">Porron 3/4 de litro<br>
                 -------------------------------------------------------------------------------------------------------</p>
            
         </div>
      </div>
  
      <h2 class="nombrePlato">CHECKPOINT CERVEZA ARTESANAL  </h2>
    <div class="plato">
    
     <img src="/images/bebida3.jpg" class="img-fluid" alt="combo completo de dos hamburguesas completas"> 
        <div class="Especificacion">
         <div class="d-grid gap-2 d-md-block">
          <a href="/"><button class="btn btn-primary" type="button">Atrás</button></a>
          <a href="/formularios/detalledecompra"><button class="btn btn-primary" type="button">Pedir</button></a>
           </div>
            <p class="Precios"> 350$ </p>
            <p class="NombrePlato"> Botella recargable de 1 litro  </p>
          
            <p class="Especificacion"> Nuestro wallaw, para envio a domicilio, en nuestro local podés disfrutar de todos los sabores que tenemos para ofrecerte <br>
             -----------------------------------------------------------------------------------------------------</p>
          
        </div>
     </div>
  
     <h2 class="nombrePlato">CHECKPOINT FERNET X2 </h2>
    <div class="plato">
     <img src="/images/bebida4.jpg" class="img-fluid" alt="combo completo de dos hamburguesas completas"> 
        <div class="Especificacion">
         <div class="d-grid gap-2 d-md-block">
          <a href="/"><button class="btn btn-primary" type="button">Atrás</button></a>
          <a href="/formularios/detalledecompra"> <button class="btn btn-primary" type="button">Pedir</button></a>
           </div>
            <p class="Precios"> 500$ </p>
            <p class="NombrePlato"> Fernet X2 </p>
           
            <p class="Especificacion">Si, te prepamos el mejor fernet de la zona<br>
             ------------------------------------------------------------------------------------------------------</p>
                 
            
        </div>
     </div>
  
     <h2 class="nombrePlato">CHECKPOINT FERNET XL</h2>
    <div class="plato">
     <img src="/images/bebida5.jpg" class="img-fluid" alt="combo completo de dos hamburguesas completas"> 
        <div class="Especificacion">
         <div class="d-grid gap-2 d-md-block">
          <a href="/"><button class="btn btn-primary" type="button">Atrás</button></a>
          <a href="/formularios/detalledecompra"> <button class="btn btn-primary" type="button">Pedir</button></a>
           </div>
            <p class="Precios"> 800$ </p>
            <p class="NombrePlato"> 1L Del mejor, preparado por nuestro barman</p>
            <p class="Especificacion"> Jarra en nuestro local y botella para envíos, especial para compartir<br>
             ------------------------------------------------------------------------------------------------------</p> 
           
        </div>
     </div>

     <h2 class="nombrePlato">CHECKPOINT JUGOS NATURALES</h2>
    <div class="plato">
     <img src="/images/bebida6.jpg" class="img-fluid" alt="combo completo de dos hamburguesas completas"> 
        <div class="Especificacion">
         <div class="d-grid gap-2 d-md-block">
          <a href="/"><button class="btn btn-primary" type="button">Atrás</button></a>
          <a href="/formularios/detalledecompra"> <button class="btn btn-primary" type="button">Pedir</button></a>
           </div>
            <p class="Precios"> 150$ </p>
            <p class="NombrePlato"> Exprimidos frutales </p>
            <p class="Especificacion"> Exprimidos de naranja para envios <br>
        
        </div>
     </div>
 </div>
</body>
=======
		<%- include('partials/footer') %> 
</body>

</html>
>>>>>>> ce377bcc7aa68ccefbd30732fcfd80e3649243dc
