<%- include('partials/header') %>
<%- include('partials/head') %>
	<body>
		<menu class="container">
			<section class="row">
				<div class="titulo col-12">
					<h2 class="oferta">-NUESTRAS HAMBURGUESAS-</h2>
				</div>
				<div class="col-12 col-md-6 col-lg-3">
					<article class="producto"><!-- 1 hamburs-->
						<div class="contenido">
							<figure><a href=""><img src="/images/hambur1.jpg" alt=""></a></figure>

							<h2 class="title">X2COMPLETA</h2>
							<h2><span>800$</span></h2>

							<div class="detalle mt-3 text-center">
								<hr>
								<p>Con papas</p>
							</div>
							<div class="d-grid gap-2 d-md-block">
								<a href="/"><button class="btn btn-primary" type="button">Atrás</button></a>
								<button class="btn btn-primary" type="button">Pedir</button>
							</div>
						</div>
					</article>
				</div>

				<div class="col-12 col-md-6 col-lg-3">
					<article class="producto"><!-- 2-->
						<div class="contenido">
							<figure><a href=""><img src="/images/hambur2.jpg" alt=""></a></figure>

							<h2 class="title">ESPECIAL</h2>
							<h2><span>450$</span></h2>

							<div class="detalle mt-3 text-center">
								<hr>
								<p>Ananá</p>
							</div>
							<div class="d-grid gap-2 d-md-block">
								<a href="/"><button class="btn btn-primary" type="button">Atrás</button></a>
								<button class="btn btn-primary" type="button">Pedir</button>
							</div>
						</div>
					</article>
				</div>
				<div class="col-12 col-md-6 col-lg-3">
					<article class="producto"><!--3-->
						<div class="contenido">
							<figure><a href=""><img src="/images/hambur3.jpg" alt=""></a></figure>

							<h2 class="title">X3COMPLETA</h2>
							<h2><span>1200$</span></h2>

							<div class="detalle mt-3 text-center">
								<hr>
								<p>Con papas</p>
							</div>
							<div class="d-grid gap-2 d-md-block">
								<a href="/"><button class="btn btn-primary" type="button">Atrás</button></a>
								<button class="btn btn-primary" type="button">Pedir</button>
							</div>
						</div>
					</article>
				</div>
				<div class="col-12 col-md-6 col-lg-3">
					<article class="producto"><!--3-->
						<div class="contenido">
							<figure><a href=""><img src="/images/hambur4.jpg" alt=""></a></figure>

							<h2 class="title"> CAJITA </h2>
							<h2><span>1200$</span></h2>

							<div class="detalle mt-3 text-center">
								<hr>
								<p>Completa</p>
							</div>
							<div class="d-grid gap-2 d-md-block">
								<a href="/"><button class="btn btn-primary" type="button">Atrás</button></a>
								<button class="btn btn-primary" type="button">Pedir</button>
							</div>
						</div>
					</article>
				</div>
				<section class="row">
					<div class="titulo col-12">
						<h2 class="oferta">-PROMO DE LA SEMANA-</h2>
					</div>
					<div class="col-12 col-md-6 col-lg-3">
						<article class="producto"><!-- 4-->
							<div class="contenido">
								<figure><a href=""><img src="/images/hambur5.jpg" alt=""></a></figure>
	
								<h2 class="title">COMPLETA</h2>
								<h2><span>500$</span></h2>
	
								<div class="detalle mt-3 text-center">
									<hr>
									<p>Con papas</p>
								</div>
								<div class="d-grid gap-2 d-md-block">
									<a href="/"><button class="btn btn-primary" type="button">Atrás</button></a>
									<button class="btn btn-primary" type="button">Pedir</button>
								</div>
							</div>
						</article>
					</div>
	
					<div class="col-12 col-md-6 col-lg-3">
						<article class="producto"><!-- 5-->
							<div class="contenido">
								<figure><a href=""><img src="/images/hambur6.jpg" alt=""></a></figure>
	
								<h2 class="title">SIMPLE</h2>
								<h2><span>350$</span></h2>
	
								<div class="detalle mt-3 text-center">
									<hr>
									<p>Chedar</p>
								</div>
								<div class="d-grid gap-2 d-md-block">
									<a href="/"><button class="btn btn-primary" type="button">Atrás</button></a>
									<button class="btn btn-primary" type="button">Pedir</button>
								</div>
							</div>
						</article>
					</div>
					<div class="col-12 col-md-6 col-lg-3">
						<article class="producto"><!-- 6-->
							<div class="contenido">
								<figure><a href=""><img src="/images/hamburguesa.bmp" alt=""></a></figure>
	
								<h2 class="title">DOBLE</h2>
								<h2><span>450</span></h2>
	
								<div class="detalle mt-3 text-center">
									<hr>
									<p>Carne</p>
								</div>
								<div class="d-grid gap-2 d-md-block">
									<a href="/"><button class="btn btn-primary" type="button">Atrás</button></a>
									<button class="btn btn-primary" type="button">Pedir</button>
								</div>
							</div>
						</article>
					</div>
					<div class="col-12 col-md-6 col-lg-3">
						<article class="producto"><!-- 6-->
							<div class="contenido">
								<figure><a href=""><img src="/images/hamburPortada.jpg" alt=""></a></figure>
	
								<h2 class="title">SIMPLE</h2>
								<h2><span>300$</span></h2>
	
								<div class="detalle mt-3 text-center">
									<hr>
									<p>Picante</p>
								</div>
								<div class="d-grid gap-2 d-md-block">
									<a href="/"><button class="btn btn-primary" type="button">Atrás</button></a>
									<button class="btn btn-primary" type="button">Pedir</button>
								</div>
							</div>
						</article>
					</div>
			</menu>		

	</body>	<!--menu-->
		
      
	 <%- include('partials/footer') %>    
		


</html>