*{
  
}

h4{
    text-align: center;
}
.container{
    
    text-align: center;
}

@supports(object-fit: cover){
    .box img{
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
}