* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: rgba(240, 237, 241, 0.884);
}
li {
  list-style: none;
}
p {
  color: rgb(255, 238, 238);
}
h5{
  color: rgb(255, 245, 245);
}h5.card-title{color: black;}
h3{
  color: rgb(216, 211, 211);
}
h4{
  color: rgb(163, 162, 162);
}
p.card-text{color: rgba(0, 0, 0, 0.795);}
.titulo{
   background-color: rgba(27, 26, 26, 0.479);
  padding: 15px;}
  .novedades{background-color: white;}
  body menu section div h4{
    color:rgb(120, 4, 253);
}
.card{margin-right:50px ;
text-align: center;}
ul{
  padding:0 ;
}