
   
  
   
  
   
  .register{background-color: rgba(0, 0, 0, 0.342);
    padding: 35px;
    
  }
   
  .register h2{
    color:rgb(53, 15, 223);
    
  }
   
  /*.register input{
    width: 100%;
    padding: 5px;
    font-size: 16px;
    margin-bottom: 25px;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom: 1px solid #a8a8a8;
    color: #333;
  }*/
   
  .submit{
    
    padding: 10px;
    background: #1a01ff;
    color: #fff;
    font-size: 15px;
    
    cursor: pointer;
  }

  .login{
    background-color: rgba(0, 0, 0, 0.425);
    padding: 35px;
    
  }
   
  .login h2{
    color: rgb(53, 15, 223);
    margin-bottom: 45px;
  }
   
  .login button i{
    position: absolute;
    top: 12px; 
    left: 12px;
  }
   
  .login button{
    width: 100%;
    margin: 15px 0px;
    padding: 10px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .2);
    cursor: pointer;
    position: relative;
  }
   
  .login .fb{
    background: #0707e9;
    border-style: none;
    color: #fff;
  }
   
  .login .tw{
    background: #55acef;
    border-style: none;
    color: #fff;
  }
   
  .login .correo{
    background: #ff0b02;
    border-style: none;
    color: #fff;
  }
   
  @media only screen and (max-width: 540px){
    .login-container{
      display: block;
    }
   
    .register, .login{
      flex: none;
    }
   
    .register::after{
      top: unset;
      bottom: -25px;
      left: 50%;
      transform: translateX(-50%) rotate(90deg);
    }
  }
  