*{
    box-sizing: border-box;
}

body{
    background-image: url("/logo/fondo.jpg");
    font-family: "Montserrat", sans-serif;
    font-family: "Architects Daughter", cursive;
    background-attachment: fixed;
    position: relative;
}

.plato{
    background-color: rgba(0, 0, 0, 0.5);
    margin: 30px 0;
    border: 1px solid gray;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgb(120, 4, 253);
    padding: 30px;
    align-items: center;
    height: 480px;
    width: 98%;
}
.contenido{
    background-color: rgba(0, 0, 0, 0.5);
    margin: 30px 0;
    border: 1px solid gray;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgb(120, 4, 253);
    padding: 30px;
    align-items: center;
    height: 480px;
    width: 98%;
}
 .contenido figure{
    height: 50%;
 }
main{
    padding: 40px 0;
}

.nombrePlato{
    color: rgb(140, 0, 255);
}
.container-sm{
    
    
    text-align: center;
    color: black;
    padding-top: 20px;
    
}


.marca h2{
    background-color: blue;
    text-align: center;
    color: black;
    padding-top: 20px;
   
  
}
img{
    display:block;
    margin: auto;
}
p{
    text-align: center;
    color: rgb(223, 216, 240);
}
.portadaSecciones{
    color: rgb(209, 209, 224);
    text-align: center;
}

.plato img{
    width: 100%;
    height: auto;
}
body menu section div h4{
    color:rgb(120, 4, 253);
}
@supports(object-fit: cover){
    .box img{
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
}